<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Play Dates</title>
  <link rel="stylesheet">
</head>

<body>
{{{ body }}}
<!-- --------------------------------------------pet dates form handlebars START -->
<h3>PLAY DATES</h3>
        <button class="btn" type="submit">Login</button> 
        <H2>or</H2>        <button class="btn" type="submit">Chat</button>         <button class="btn" type="submit">Dashboard</button> 
        <button class="btn" type="submit">Log Out</button> 
        <br>
<button class="btn" type="submit">CHOOSE THIS EVENT</button> 
                
<button class="btn" type="submit">CHOOSE THIS EVENT</button> 
                
  </section>

<!-- --------------------------------------------pet profile form handlebars END -->
{{{ body }}}
</body>
</html>