<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Play Dates/Message</title>
  <link rel="stylesheet">
</head>

<body>
{{{ body }}}
<!-- --------------------------------------------pet dates form handlebars START -->
<h3>PLAY DATES/MESSAGE</h3>
        <button class="btn" type="submit">Login</button> 
        <H2>or</H2>        <button class="btn" type="submit">Chat</button>         <button class="btn" type="submit">Dashboard</button> 
        <button class="btn" type="submit">Log Out</button> 
        <br>
<button class="btn" type="submit">Message Fluffy</button> 
                
<button class="btn" type="submit">log in to comment</button> 

      <div class="form-group">
        <label for="comment">Add a comment: </label>
        <input type= "text" id="username" placeholder="Type comment here" class="form-input"/>
        <button class="btn" type="submit">Send</button> 
        <br>
                
  </section>
<script src='/js/User.js'></script>
<script src='/js/PlayDate.js'></script>
<!-- --------------------------------------------pet profile form handlebars END -->
{{{ body }}}
</body>
</html>