<h2>SIGN INTO YOUR PROFILE</h2>
  <form class="form newprofile-form">

    <!-- <action="/petprofile" method="post" enctype="multipart/form-data"> -->
      <div class="form-group">

        <label for="email">Email: </label>
        <input type= "text" id="email" placeholder="Enter your email" class="form-input"/>
        <br>

        <label for="password">Password: </label>
        <input type= "text" id="password" placeholder="Enter your password" class="form-input"/>
        <br>

        <button class="btn" type="submit">Log In</button> 
      </div>
  </form>
  
<script src='/js/User.js'></script>
