<div action="/petprofile" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for='name'>Your name</label>
    <input type= 'input' name='name' id='name' placeholder="Enter your name" />
    <br>
    <label for='files'>Select files</label>
    <input type="file" name="avatar" class="form-control-file" >
    <br>
    <button class="submit-btn" type='submit'>Upload</button> 
  </div>
</form>
{{!-- <br>
<br>
<br>
<br>
<div class="container">
    <form id='form'>
        <div class="input-group">
            <label for='files'>Select files</label>
            <input id='files' type="file">
        </div>
        <button class="submit-btn" type='submit'>Upload</button>
    </form>
</div> --}}

<script src='./script.js'></script>