<h2>CREATE A NEW PROFILE</h2>
  <form class="form signup-form">
    <!-- <action="/petprofile" method="post" enctype="multipart/form-data"> -->
      <div class="form-group">
        <label for="username">User name: </label>
        <input type= "text" id="username-signup" placeholder="Create your username" class="form-input" />
        <br>

        <label for="email">Email: </label>
        <input type= "text" id="email-signup" placeholder="Enter your email" class="form-input"/>
        <br>

        <label for="password">Password: </label>
        <input type= "text" id="password-signup" placeholder="Choose your password" class="form-input"/>
        <br>

        <a href="/petprofile/form"><button class="btn" type="submit">Create</button></a>
      </div>
  </form>
