<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Sign In Sheet</title>
  <link rel="stylesheet">
</head>

<body>

<!-- --------------------------------------------user profile form handlebars START -->
<h2>SIGN INTO YOUR PROFILE</h2>
  <form class="form newprofile-form">

    <!-- <action="/petprofile" method="post" enctype="multipart/form-data"> -->

      <div class="form-group">
        <label for="username">User name: </label>
        <input type= "text" id="username" placeholder="Enter your username" class="form-input"/>
        <br>

        <label for="email">Email: </label>
        <input type= "text" id="email" placeholder="Enter your email" class="form-input"/>
        <br>

        <label for="password">Password: </label>
        <input type= "text" id="password" placeholder="Enter your password" class="form-input"/>
        <br>

        <button class="btn" type="submit">Sign In</button> 
      </div>
  </form>
<script src='/js/User.js'></script>
<!-- --------------------------------------------pet profile form handlebars END -->

</body>
</html>