@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-image: url("./photos/Turquoise\ Dogs\ and\ Paw\ Print\ Cute\ Virtual\ Background.png");
}

nav {
  background-color: #85cad0;
}

main {
  background-color: #85cad0;
}

#navbar-default.navBKG {
  background-color: #A084E8;
}

form .form-input {
  color: #3d4547;
}

a {
  background-color: #FFF3DA(255, 148, 85);
}

button {
  background-color: #FF577F;
}

li.mr-2>p#about-tab {
  background-color: transparent;
}